<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Alke Wallet</title>
</head>
<body>

<nav>
    <!-- Dejo accesos principales del sistema -->

    <a href="{% url 'usuario_list' %}">Usuarios</a>
    <a href="{% url 'usuario_create' %}">Crear usuario</a>

    <a href="{% url 'transaccion_list' %}">Historial</a>
    <a href="{% url 'transaccion_create' %}">Enviar dinero</a>

    <a href="{% url 'deposito_create' %}">Depositar dinero</a>

    <!-- ESTE ES EL QUE TE FALTABA -->
    <a href="{% url 'beneficiario_list' %}">Beneficiarios</a>

    <a href="{% url 'moneda_list' %}">Monedas</a>
</nav>

<hr>

<!-- Muestro mensajes del sistema -->
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

{% block content %}
{% endblock %}

</body>
</html>