{% extends 'base.html' %}

{% block content %}

<div class="card">

    <h2>Beneficiarios</h2>

    <a href="{% url 'beneficiario_create' %}" class="nav-btn primary">
        + Crear beneficiario
    </a>

    <ul style="margin-top:15px;">
        {% for b in beneficiarios %}
        <li style="margin-bottom:10px;">
            {{ b.nombre }}

            <a href="{% url 'beneficiario_update' b.pk %}" class="nav-btn">Editar</a>

            <form action="{% url 'beneficiario_delete' b.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button class="nav-btn">Eliminar</button>
            </form>
        </li>
        {% empty %}
        <li>No hay beneficiarios registrados</li>
        {% endfor %}
    </ul>

</div>

{% endblock %}