{% extends 'base.html' %}

{% block content %}

<h1>Beneficiarios</h1>

<ul>
    {% for b in beneficiarios %}
        <li>
            {{ b.nombre }}

            <a href="{% url 'beneficiario_update' b.pk %}">Editar</a>

            <form action="{% url 'beneficiario_delete' b.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'beneficiario_create' %}">Crear nuevo beneficiario</a>

{% endblock %}