{% extends 'base.html' %}

{% block content %}

<h2>Cartola de {{ usuario.nombre }}</h2>

<h3>Saldo actual: {{ usuario.saldo }}</h3>

<table border="1">
    <tr>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Beneficiario</th>
        <th>Detalle</th>
        <th>Monto</th>
    </tr>

    {% for mov in movimientos %}
    <tr>
        <td>{{ mov.fecha_transaccion }}</td>

        <td>
            {% if mov.id_beneficiario.nombre == "DEPOSITO" %}
                Depósito
            {% else %}
                Egreso
            {% endif %}
        </td>

        <!-- 🔥 SIEMPRE MOSTRAR BENEFICIARIO -->
        <td>{{ mov.id_beneficiario.nombre }}</td>

        <td>
            {% if mov.id_beneficiario.nombre == "DEPOSITO" %}
                Carga de saldo
            {% else %}
                Transferencia
            {% endif %}
        </td>

        <td>
            {% if mov.id_beneficiario.nombre == "DEPOSITO" %}
                + {{ mov.importe }}
            {% else %}
                - {{ mov.importe }}
            {% endif %}
        </td>

    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No hay movimientos</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'usuario_list' %}">Volver</a>

{% endblock %}