{% extends 'base.html' %}

{% block content %}

<h2>Cartola de {{ usuario.nombre }}</h2>

<table border="1">
    <tr>
        <th>Fecha</th>
        <th>Beneficiario</th>
        <th>Monto</th>
    </tr>

    {% for mov in movimientos %}
    <tr>
        <td>{{ mov.fecha_transaccion }}</td>
        <td>{{ mov.id_beneficiario.nombre }}</td>
        <td>- {{ mov.importe }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No hay movimientos</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'usuario_list' %}">Volver</a>

{% endblock %}