{% extends 'base.html' %}

{% block content %}

<h2>Cartola de {{ usuario.nombre }}</h2>

<h3>Saldo actual: {{ usuario.saldo }}</h3>

<table border="1">
    <tr>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Detalle</th>
        <th>Monto</th>
    </tr>

    {% for mov in movimientos %}
    <tr>
        <td>{{ mov.fecha_transaccion }}</td>

        {% if mov.id_beneficiario.nombre == "DEPOSITO" %}
            <td>Depósito</td>
            <td>Carga de saldo</td>
            <td>+ {{ mov.importe }}</td>
        {% else %}
            <td>Envío</td>
            <td>{{ mov.id_beneficiario.nombre }}</td>
            <td>- {{ mov.importe }}</td>
        {% endif %}

    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No hay movimientos</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'usuario_list' %}">Volver</a>

{% endblock %}