{% extends 'base.html' %}

{% block content %}

<div style="max-width:500px; margin:40px auto;">
    <div class="card">

        <h2 style="margin-bottom:20px;">Depositar dinero</h2>

        <form method="post">
            {% csrf_token %}

            <div style="margin-bottom:15px;">
                <label>Usuario</label>
                {{ form.usuario }}
            </div>

            <div style="margin-bottom:15px;">
                <label>Monto a depositar</label>
                {{ form.monto }}
            </div>

            <button type="submit" style="
                width:100%;
                padding:12px;
                background:#28a745;
                color:white;
                border:none;
                border-radius:10px;
                font-weight:bold;
                cursor:pointer;
            ">
                Depositar
            </button>

        </form>

        <a href="{% url 'usuario_list' %}" class="back-btn">← Volver</a>

    </div>
</div>

{% endblock %}