{% extends 'base.html' %}

{% block content %}

<div class="card">

    <h2>Monedas</h2>

    <a href="{% url 'moneda_create' %}" class="nav-btn primary">
        + Nueva moneda
    </a>

    <ul style="margin-top:15px;">
        {% for m in monedas %}
        <li style="margin-bottom:10px;">
            <strong>{{ m.nombre_moneda }}</strong> ({{ m.simbolo }})

            <a href="{% url 'moneda_update' m.pk %}" class="nav-btn">Editar</a>
            <a href="{% url 'moneda_delete' m.pk %}" class="nav-btn">Eliminar</a>
        </li>
        {% empty %}
        <li>No hay monedas registradas</li>
        {% endfor %}
    </ul>

</div>

{% endblock %}