{% extends 'base.html' %}

{% block content %}

<!-- Estoy creando una transacción desde la interfaz -->

<h1>Crear Transacción</h1>

<form method="post">
    {% csrf_token %}

    <!-- Selecciono emisor -->
    <p>
        <label>Emisor:</label><br>
        {{ form.id_usuario_emisor }}
    </p>

    <!-- Selecciono beneficiario o creo uno -->
    <p>
        <label>Beneficiario:</label><br>
        {{ form.id_beneficiario }}
        <br>
        <a href="{% url 'beneficiario_create' %}">+ Crear beneficiario</a>
    </p>

    <!-- Selecciono moneda -->
    <p>
        <label>Moneda:</label><br>
        {{ form.currency_id }}
    </p>

    <!-- Ingreso monto -->
    <p>
        <label>Importe:</label><br>
        {{ form.importe }}
    </p>

    <button type="submit">Enviar</button>
</form>

{% endblock %}
