{% extends 'base.html' %}

{% block content %}

<h2>Enviar dinero</h2>

<form method="post">
    {% csrf_token %}

    <label>Usuario emisor:</label><br>
    {{ form.id_usuario_emisor }}<br><br>

    <label>Beneficiario:</label><br>
    {{ form.id_beneficiario }}<br><br>

    <!-- PIDE MONEDA EN TRANSACCIONES -->
    <label>Moneda:</label><br>
    {{ form.currency_id }}<br><br>

    <label>Monto:</label><br>
    {{ form.importe }}<br><br>

    <button type="submit">Enviar</button>
</form>

<a href="{% url 'transaccion_list' %}">Volver</a>

{% endblock %}
