{% extends 'base.html' %}

{% block content %}

<h2>Historial de transacciones</h2>

<table border="1">
    <tr>
        <th>Fecha</th>
        <th>Usuario</th>
        <th>Tipo</th>
        <th>Beneficiario</th> <!-- 🔥 NUEVO -->
        <th>Detalle</th>
        <th>Monto</th>
    </tr>

    {% for t in transacciones %}
    <tr>
        <td>{{ t.fecha_transaccion }}</td>
        <td>{{ t.id_usuario_emisor.nombre }}</td>

        {% if t.id_beneficiario.nombre == "DEPOSITO" %}
            <td>Depósito</td>
            <td>--</td> <!-- 👈 oculto técnico -->
            <td>Carga de saldo</td>
            <td>+ {{ t.importe }}</td>
        {% else %}
            <td>Egreso</td>
            <td>{{ t.id_beneficiario.nombre }}</td> <!-- 🔥 AQUÍ -->
            <td>Transferencia</td>
            <td>- {{ t.importe }}</td>
        {% endif %}

    </tr>
    {% endfor %}
</table>

<a href="{% url 'transaccion_create' %}">Nueva transacción</a>

{% endblock %}