{% extends 'base.html' %}

{% block content %}

<div class="card">

    <h2>Movimientos</h2>

    <a href="{% url 'transaccion_create' %}" class="nav-btn primary">
        + Nueva transacción
    </a>

    <table style="width:100%; margin-top:15px; border-collapse:collapse;">
        <thead style="background:#f1f1f1;">
            <tr>
                <th>Fecha</th>
                <th>Usuario</th>
                <th>Tipo</th>
                <th>Beneficiario</th>
                <th>Monto</th>
            </tr>
        </thead>

        <tbody>
        {% for t in transacciones %}
        <tr style="border-bottom:1px solid #ddd;">
            <td>{{ t.fecha_transaccion }}</td>
            <td>{{ t.id_usuario_emisor.nombre }}</td>

            {% if t.id_beneficiario.nombre == "DEPOSITO" %}
                <td style="color:green;">Depósito</td>
                <td>--</td>
                <td style="color:green;">+ ${{ t.importe }}</td>
            {% else %}
                <td style="color:red;">Egreso</td>
                <td>{{ t.id_beneficiario.nombre }}</td>
                <td style="color:red;">- ${{ t.importe }}</td>
            {% endif %}

        </tr>
        {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}