{% extends 'base.html' %}

{% block content %}

<div style="max-width:500px; margin:40px auto;">
    <div class="card">

        <h2 style="margin-bottom:20px;">Crear Usuario</h2>

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" style="
                width:100%;
                padding:12px;
                background:#0a2540;
                color:white;
                border:none;
                border-radius:10px;
                font-weight:bold;
                cursor:pointer;
                margin-top:10px;
            ">
                Guardar
            </button>
        </form>

        <a href="{% url 'usuario_list' %}" style="display:block; margin-top:15px;">
            ← Volver
        </a>

    </div>
</div>

{% endblock %}
