{% extends 'base.html' %}

{% block content %}

<h2>Usuarios</h2>

<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Saldo</th>
        <th>Acciones</th>
    </tr>

    {% for usuario in usuarios %}
    <tr>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.saldo }}</td>
        <td>
            <a href="{% url 'usuario_update' usuario.user_id %}">Editar</a>
            <a href="{% url 'usuario_delete' usuario.user_id %}">Eliminar</a>
            <a href="{% url 'cartola_usuario' usuario.user_id %}">Cartola</a>
        </td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'usuario_create' %}">Crear usuario</a>

{% endblock %}